html, body
{
    font-family: 'Menlo Regular', monospace !important;
    font-size: 14px;
    line-height: 14px;
    outline: 0;
    font-weight: normal;
}

#grid 
{
    position: relative;

    #overlay, #layers > .layer
    {
        display: flex;
        flex-direction: column;

        width: fit-content;
        white-space: pre;
        font-size: 14.5px;
        line-height: 14px;
        margin: 10px;

        .grid_row
        {
            flex: 0 0 auto;
            position: relative;
            z-index: 0;
            width: 100%;
            display: flex;
            flex-direction: row;

            width: fit-content;
            white-space: pre;
            font-size: 14.5px;
            line-height: 14px; 

            .grid_cell
            {
                flex: 0 0 auto;
                position: relative;
                z-index: 0;

                width: fit-content;
                white-space: pre;
                font-size: 14.5px;
                line-height: 14px;
                user-select: none;
            
            }
        }
    }

    #layers > .layer
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    #overlay 
    {
        position: relative;
        z-index: 1000000;
        outline: 1px solid rgba(125,125,125,.5);

        .grid_row 
        {
            &.selected
            {
                z-index: 1;
            }
            
            .grid_cell 
            {
                outline: 1px solid rgba(125,125,125,.1);

                &.selected 
                {
                    outline: 1px solid rgba(0, 125, 0, 0.5);
                    z-index: 1;

                    &.highlighted 
                    {
                        outline: 2px solid rgba(0, 125, 125, 0.5);
                    }
                }

                &.grid_num_horz:before
                {
                    content: attr(col);
                    position: absolute;
                    top: -10px;
                    font-size: 8px;
                    line-height: 8px;
                }
    
                &.grid_num_vert:before
                {
                    content: attr(row);
                    position: absolute;
                    left: calc(-100% - 2px);
                    font-size: 8px;
                    text-align: right;
                    width: 100%;
                }
    
                &:hover
                {
                    &:not(.selected):not(.highlighted)
                    {
                        outline: 1px solid rgba(0, 108, 125, 0.3);
                    }
    
                    &:after 
                    {
                        content: attr(hov);
                        position: absolute;
                        top: -18px;
                        left: -100%;
                        background-color: #FFF;
                        outline: 1px solid rgba(125,125,125,.3);
                        padding: 2px;
                        font-size: 10px;
                        line-height: 10px;
                        opacity: .7;
                    }
                }
            }
        }
    }
}

.tool_panel 
{
    outline: 1px solid rgba(125,125,125,.5);
    width: 150px;
    margin: 5px;
    display: flex;
    flex-direction: column;

    .title
    {
        flex: 0 0 auto;
        font-weight: bold;
        padding: 4px;
        display: block;
    }
}

#layers_panel 
{
    #layers_list 
    {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0;
        margin: 0;
        list-style: none;

        li 
        {
            flex: 0 0 auto;
            padding: 4px;
            outline: 1px solid rgba(125,125,125,.5);
            background-color: rgba(125,125,125,.1);
            
            &.selected 
            {
                background-color: rgba(0, 125, 0, 0.2);
            }
        }
    }

    #layer_actions
    {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;

        & > div 
        {
            flex: 0 0 auto;
            cursor: pointer;
            padding: 4px;
            outline: 1px solid rgba(125,125,125,.5);
            width: fit-content;
        }
    }
}