@font-face {
    font-family: 'Fixedsys Excelsior', monospace;
    src: url('FixedsysExcelsiorIIIb.eot');
    src: local('Fixedsys Excelsior'), local('FixedsysExcelsiorIIIb'),
        url('FixedsysExcelsiorIIIb.eot?#iefix') format('embedded-opentype'),
        url('FixedsysExcelsiorIIIb.woff2') format('woff2'),
        url('FixedsysExcelsiorIIIb.woff') format('woff'),
        url('FixedsysExcelsiorIIIb.ttf') format('truetype'),
        url('FixedsysExcelsiorIIIb.svg#FixedsysExcelsiorIIIb') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
