@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('SourceCodePro-Regular.eot');
    src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
        url('SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SourceCodePro-Regular.woff2') format('woff2'),
        url('SourceCodePro-Regular.woff') format('woff'),
        url('SourceCodePro-Regular.ttf') format('truetype'),
        url('SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('SourceCodePro-MediumItalic.eot');
    src: local('Source Code Pro Medium Italic'), local('SourceCodePro-MediumItalic'),
        url('SourceCodePro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SourceCodePro-MediumItalic.woff2') format('woff2'),
        url('SourceCodePro-MediumItalic.woff') format('woff'),
        url('SourceCodePro-MediumItalic.ttf') format('truetype'),
        url('SourceCodePro-MediumItalic.svg#SourceCodePro-MediumItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('SourceCodePro-Italic.eot');
    src: local('Source Code Pro Italic'), local('SourceCodePro-Italic'),
        url('SourceCodePro-Italic.eot?#iefix') format('embedded-opentype'),
        url('SourceCodePro-Italic.woff2') format('woff2'),
        url('SourceCodePro-Italic.woff') format('woff'),
        url('SourceCodePro-Italic.ttf') format('truetype'),
        url('SourceCodePro-Italic.svg#SourceCodePro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('SourceCodePro-Medium.eot');
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
        url('SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('SourceCodePro-Medium.woff2') format('woff2'),
        url('SourceCodePro-Medium.woff') format('woff'),
        url('SourceCodePro-Medium.ttf') format('truetype'),
        url('SourceCodePro-Medium.svg#SourceCodePro-Medium') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
